@import url(../movie-list/reset.css);
body{
    font-family: 'Arimo', Arial, sans-serif;
    font-weight: 400;
    color: #F3F6F9;
    background-color: #181818;
}
.container{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}
#header{
    margin: 80px 0 0 0;
}
#list{
    margin: 0 0 50px 0;
}
.list__info{
    display: flex;
    gap: 2px;
    padding: 0 0 18px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 18px;
}
.list__info-movie{
    display: block;
    width: 183px;
    padding: 6px 0;
    border-radius: 25px;
    background-color: #6532F8;
}
.list__info-yaer{
    display: block;
    width: 75px;
    padding: 6px 0;
    border-radius: 25px;
    background-color: #6532F8;
}
.list__title{
    display: flex;
    font-size: 120px;
    line-height: 88px;
}
.movie__wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 930px;
    min-height: 100px;
    padding: 20px 20px 10px 20px;
    border-radius: 20px;
    background-color: #232323;
}
.form{
    font-size: 30px;
    line-height: 34px;
}
.form__input{
    width: 411px;
    font-family: 'Arimo', Arial, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 48px;
    color: #F3F6F9;
    padding: 0 0 0 5px;
    opacity: .5;
    border-bottom: 1px solid;
    box-shadow: none;
}
.form__input:focus{
    opacity: 1;
    border-color: #6532F8;
    outline: none;
}
.movie__add-btn{
    width: 30px;
    height: 30px;
    padding: 31px;
    border-radius: 50%;
    background-image: url(../movie-list/arrow.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #6532F8;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.movie__add-btn:disabled{
    opacity: .3;
    cursor: not-allowed;
}
.movies__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.movie__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 71px;
    padding: 0 10px;
    border-radius: 10px;
    background-color: #3A3939;
}
.movie__item:last-child{
    margin: 0 0 10px 0;
}
.movie__box{
    display: flex;
    gap: 10px;
    padding: 0 10px;
}
.movie__close-btn{
    width: 23px;
    height: 23px;
    background: url(../movie-list/close.svg);
}
.movie__checkbox{
    width: 19px;
    height: 19px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #F3F6F9;
    appearance: none;
    cursor: pointer;
}
.movie__checkbox:checked{
    background-color: #6532F8;
}
.movie__label{
    display: flex;
    align-items: center;
}
.movie__item_checked{
    text-decoration-line: line-through;
    color: #adadad;
    background-color: #2f2f2f;
}